body {
	font-family: raleway;
	color: #dddddd;
	background-color: #1c2029;
	font-size: 1vw;
}

a {
	color: #3bf;
	text-decoration: none;
}

header {
	overflow: hidden;
}

/* h1, h2, h3, h4, h5, h6 { text-align: center; } */

/* h1 { font-size: 8vw; } */
/* h2 { font-size: 7vw; } */
/* h3 { font-size: 4vw; } */

.title { color: aqua };

.header {
	text-align: center;
}
.header-section {
	text-align: center;
}

.header-section h1 { font-size: 8vh; }
.header-section h2 { font-size: 6vh; }
.header-section h3 { font-size: 4vh; }

header nav {
	position: relative;
	float: right;
}

header nav a {
	position: relative;
	float: right;
	right: 8vh;
}

main img {
	position: relative;
	height: auto;
	width: 100%;
}

.logo {
	height: 20vh;
	width: 20vh;
}
.logo-back {
	margin-top: 2vh;
	margin-left: 4vh;
	position: relative;
	float: left;
	height: 20vh;
	width: 20vh;
	background-color: #dddddd;
	border-radius: 50%;
}

.vartak-logo {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.register-btn {
	font-size: 4vh;
	color: #dddddd;
	background-color: #1b60f4;
	border-radius: 7vh;
	margin-top: 2vh;
	padding: 3vh;
}

.register-btn:hover {
	background-color: #2b70f4;
	transform: scale(1.2);
	transition: transform 0.3s;
	text-decoration: none;
}

.about-us-section {
	position: relative;
	text-align: center;
}

.about-us-section h2 { font-size: 4vw; }
.about-us-section p { font-size: 2vw; }

.top-left {
	position: absolute;
	top: 12vw;
	left: 4vw;
	width: 50%;
}

@media screen and (max-width: 800px) {
	body { font-size: 1vw; }
	.logo {
		width: 12vh;
		height: 12vh;
	}
	.logo-back {
		width: 12vh;
		height: 12vh;
	}
	.register-btn {
		font-size: 2.5vh;
		right: 3vh;
	}
	.about-us-back {
		height: 50vh;
		width: 100%;
	}
	.about-us-img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.header-section h3 { font-size: 2vw; }
	.header-section h1 { font-size: 4vw; }

	.top-left {
		width: 80%;
		font-weight: bold;
	}
	.about-us-section h2 { font-size: 4vh; }
	.about-us-section p { font-size: 2vh; }

}

/* @media screen and (max-width: 1200px) { */
/* 	p { font-size: 4vh; } */
/* } */
